<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Racoon.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-0IM3RJ0\SQLSERVER14;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Racoon.Properties.Settings.Banco" connectionString="Data Source=DESKTOP-0IM3RJ0\SQLSERVERNV2014;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Racoon.Properties.Settings.Conexao" connectionString="Data Source=DESKTOP-0IM3RJ0\SQLSERVERNV2014;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>